/stats/saved_results/*

/raw_data/*
!/raw_data/.gitkeep

/data_objects/associator_objects/*
!/data_objects/associator_objects/.gitkeep

*.secret
*.pyc
*.sqlite3
*.log

__pycache__/
.DS_Store
/frontend_django_project/static

/_Archive
_Archive/
/colt_prediction/simulation/output/*
!/colt_prediction/simulation/output/.gitkeep
/colt_prediction/simulation/plots/*
!/colt_prediction/simulation/plots/.gitkeep
/colt_prediction/models/*
!/colt_prediction/models/.gitkeep

/colt_prediction/processed_data_distance_associator_solitair_final.json
/colt_prediction/processed_data_ALL_DISTANCE_ASSOCIATORS_W_UCB.5_final.json
/colt_prediction/processed_data_ALL_DISTANCE_ASSOCIATORS_WO_UCB.5_final.json

/fuzzy/*
**/*.pyc 

/.idea
/.vscode
.DS_Store

/stats/voronoi.json