/stats/saved_results/*

/raw_data/*
!/raw_data/.gitkeep

/data_objects/associator_objects/*
!/data_objects/associator_objects/.gitkeep

*.secret
*.sqlite3
*.log

__pycache__/
.DS_Store
**/*.pyc 
/.idea
/.vscode
/stats/voronoi.json